<!-- quand on se trouve sur la home page -->
<div>
	<div class="description">
		<p>Bienvenue sur la mangathèque, géré facilement votre collection de manga!</p>
		<p>Ajouté, édité ou suprimé en quelques click.</p>		
	</div>
	<div class="btn">
		<a href="#">Crée un compte</a>
	</div>
	<p>Vous avez un compte? <strong><a href="#">Se connecter?</a></strong></p>
</div>


<!-- si on se trouve sur la page d'enregistrement -->
<div>
	<div class="containerHomePage">
		<form action="">
			<div>image</div>
			<input type="text">
		</form>
		<form action="">
			<div>image</div>
			<input type="text">
		</form>
		<form action="">
			<div>image</div>
			<input type="password">
		</form>
		<form action="">
			<div>image</div>
			<input type="password">
		</form>
	</div>
	<div class="btn">
		<a href="#">S'enregistré</a>
	</div>
</div>


<!-- quand on se trouve sur la page de co -->
<div>
	<div class="containerHomePage">
		<form action="">
			<div>icon</div>
			<input type="text">
		</form>
		<form action="">
			<div>icon</div>
			<input type="password">
		</form>
	</div>
</div>