<!-- quand on se trouve sur la login page -->
<h1>TEST EN ROUGE NORMALEMENT</h1>
<div class="containerLogin">
	<div class="description">
		<p>Bienvenue sur la mangathèque, géré facilement votre collection de manga!</p>
		<p>Ajouté, édité ou suprimé en quelques click.</p>		
	</div>
	<div class="formLogin">
		<form action="#">
			<img src="#" alt="icon pseudo">
			<input type="text" name="name"><br>
			<img src="#" alt="icon psw">
			<input type="password" name="psw">
		</form>
	</div>
	<p>Vous n'avez pas encore de compte? <strong><a href="#">Crée un compte</a></strong></p>
</div>
