<link rel="stylesheet" href="../../assets/css/style.css">

<div class="jumbotron">
</div>
<div class="ContainerAll">
	<div>
		<p>Série</p>
		<div>icon click</div>
		<div>icon flèche</div>
		<!-- <div>option user</div> -->
		<div>seachBar</div>
	</div>
	<div class="containerCollection">
		<div class="image"></div>
		<div class="detailManga">
			titre+number+auteur
		</div>
		<div class="editOrRemove">
			edit+remove
		</div>
	</div>
	<div class="addCollection">
		<button>add collection</button>
	</div>
</div>


