<div class="mainContainer flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">
			<div class="choice flex-between">
				<select name="" id="">
					<option value="">Titre</option>
					<option value="">Auteur</option>
					<option value="">Edition</option>
				</select>
<!-- 				<p>Série</p>
				<div class="click">
					<p>...</p>
				</div> -->
			</div>
			<div>
				<i class="fa fa-caret-down fa-2x pointer" aria-hidden="true"></i>
			</div>
			<div>
				<i class="fa fa-user-times fa-lg pointer" aria-hidden="true"></i>
			</div>
			<div id="searchBar">
				<form class="searchBarForm flex-center" action="" method="post">
					<input type="text" placeholder="Votre recherche">
					<button type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>

		<div class="test" ng-if="checkCall">
		<div class="topContainer">

			<div class="containerMangas" ng-repeat="manga in mangaList track by $index">
				<div class="couverture">couv</div>
				<div class="bloc flex-between">
						<div class="addRemove flex-column-around">
							<p>
								<i class="fa fa-plus fa-lg pointer green" aria-hidden="true"></i>
							</p>
							<p>
								<i class="fa fa-minus fa-lg pointer red" aria-hidden="true"></i>
							</p>
						</div>
					<div class="blocInfo flex-column-center">
						<p>{{manga.t}}</p>
						<div class="number flex-around">
							<!-- <p class="green">34</p> -->
							<p class="red">71</p>
						</div>
					</div>
					<div class="trash flex-center pointer">
						<button class="fa fa-check-circle fa-lg blue" aria-hidden="true" ng-click="addManga(manga.i)"></button>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="containerFooter flex-around">
			<div>
				<i class="fa fa-undo" aria-hidden="true"></i>
			</div>
		</div>
</div>