<div class="mainContainer flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">
			<div class="choice flex-between">
				<select name="" id="">
					<option value="">Titre</option>
					<option value="">Auteur</option>
					<option value="">Edition</option>
				</select>
<!-- 				<p>Série</p>
				<div class="click">
					<p>...</p>
				</div> -->
			</div>
			<div id="order">
				<i class="fa fa-caret-down fa-2x pointer" aria-hidden="true"></i>
			</div>
			<div ng-click="disconnect()">
				<i class="fa fa-user-times fa-lg pointer" aria-hidden="true"></i>
			</div>
			<div id="searchBar">
				<form class="searchBarForm flex-center" action="" method="post">
					<input type="text" placeholder="Votre recherche" ng-model="query">
					<button type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>

		<div class="test" ng-if="checkCall">
		<div class="topContainer">

			<div class="containerMangas" ng-repeat="manga in mangaList | filter: query">
				<!-- <div class="couverture">couv</div> -->
				<div class="bloc flex-column-center">
						
					<div class="blocInfo flex-column-center">
						<p>{{manga.t}}</p>
						<div class="flex-around">

							<p class="number-spacing red">{{manga.h | limitTo: 3}}</p>
						</div>
					</div>
					<div class="flex-center pointer">
						<button class="btn-add fa fa-check-circle fa-lg blue" aria-hidden="true" ng-click="addManga(manga.i, $index)"></button>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="containerFooter flex-around">
			<div>
				<a href="/home">
					<i class="fa fa-undo" aria-hidden="true"></i>
				</a>
			</div>
		</div>
</div>