<div class="mainContainerHome flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">
			<div class="choice flex-between">
				<p>Série</p>
				<div class="click">
					<p>...</p>
				</div>
			</div>
			<div>
				<i class="fa fa-caret-down fa-2x pointer" aria-hidden="true"></i>

			</div>
			<div>
				<i class="fa fa-plus-circle fa-lg pointer" href="/home/add-collection" aria-hidden="true"></i>
			</div>
			<div>
				<i class="fa fa-user-times fa-lg pointer" aria-hidden="true"></i>
			</div>
			<div id="searchBar">
				<form class="searchBarForm flex-center" action="">
					<input type="text" value="mangaSearch" placeholder="Votre recherche">
					<button type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="topContainer">
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture"></div>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		</div>
		<div class="containerFooter flex-around">
		</div>