<div class="mainContainerHome flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">
			<!-- <div class="choice flex-between">
				<p>Série</p>
				<div class="click">
					<p>...</p>
				</div>
			</div> -->

			<form>
					<select ng-model="order">
					<option value="title">Titre</option>
					<option value="author">Auteur</option>
					</select>
		</form>

			<div id="order">
				<i class="fa fa-caret-down fa-2x pointer" aria-hidden="true"></i>
			</div>

			<div>
				<a href="/home/add-collection">
				<i class="fa fa-plus-circle fa-lg pointer" href="/home/add-collection" aria-hidden="true"></i>
				</a>
			</div>
			<div>
				<i class="fa fa-user-times fa-lg pointer" aria-hidden="true"></i>
			</div>
			<div id="searchBar">
				<form class="searchBarForm flex-center" action="">
					<input type="text" placeholder="Votre recherche">
					<button type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="topContainer">

			<div class="containerMangas" ng-repeat="manga in displayManga | orderBy: order">
				<img class="couverture" ng-src="{{manga.imageURL}}"></img>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					<div class="blocInfo flex-column-center">
						<p>{{manga.title}}</p>
						<div class="number flex-around">
							<p class="green">toto</p>
							<p class="red">{{manga.chapters_len}}</p>
						</div>
						<div>
							<p>auteur : </p>
							<p>{{manga.author}}</p>
						</div>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		</div>
		<div class="containerFooter flex-around">
		</div>