<div class="mainContainerHome flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">

			<form>
					<select ng-model="order">
					<option value="title">Titre</option>
					<option value="author">Auteur</option>
					</select>
		</form>

			<div id="order">
				<i class="fa fa-caret-down fa-2x pointer" aria-hidden="true"></i>
			</div>

			<div>
				<a href="/home/add-collection">
				<i class="fa fa-plus-circle fa-lg pointer" href="/home/add-collection" aria-hidden="true"></i>
				</a>
			</div>
			<div ng-click="disconnect()">
				<i class="fa fa-user-times fa-lg pointer" aria-hidden="true"></i>
			</div>
			<div id="searchBar">
				<form class="searchBarForm flex-center" action="">
					<input type="text" placeholder="Votre recherche" ng-model="query">
					<button type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="topContainer">

			<div class="containerMangas" ng-repeat="manga in displayManga | orderBy: order | filter:query">
				<img class="couverture" ng-src="{{manga.details.imageURL}}"></img>
				<div class="bloc flex-between">
					<div class="trash flex-center pointer">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
					<div class="blocInfo flex-column-center">
						<p>{{manga.details.title}}</p>
						<div class="number flex-around">
							<p class="green">{{manga.chapter}}</p>
							<p class="red">{{manga.details.chapters_len}}</p>
						</div>
						<div>
							<p>auteur : </p>
							<p>{{manga.details.author}}</p>
						</div>
					</div>
					<div class="addRemove flex-column-around">
						<p>
							<i class="fa fa-plus green fa-lg pointer" ng-click="addChapter($index)" aria-hidden="true"></i>
						</p>
						<p>
							<i class="fa fa-minus red fa-lg pointer" ng-click="removeChapter($index)" aria-hidden="true"></i>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		</div>
		<div class="containerFooter flex-around">
		</div>