<!-- quand on se trouve sur la login page -->
<div class="mainContainerLogin">
	<div class="containerLogin flex-center flex-column">
		<div class="descriptionLogin">
			<p class="title-margin">Bienvenue sur la mangathèque, gérez facilement votre collection de manga! <br>
			Ajoutez, éditez ou supprimez en quelques click.</p>	
		</div>
		<div class="formLogin">
			<form action="#">
				<div class="flex-center">
					<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					<input type="text" ng-model="nickName" name="name" placeholder="Votre pseudo">
				</div>
				<div class="flex-center">
					<i class="fa fa-lock fa-2x icon" aria-hidden="true"></i>
					<input type="password" ng-model="password" name="psw" placeholder="Votre mot de passe">
				</div>
			</form>
		</div>
		<button class="btn btn-medium" ng-click="setAuth()">Se connecter</button>
	</div>
	<p class="registerLogin"><a href="/signup">Créer un compte</a></p>
</div>