<!-- quand on se trouve sur la signup page
<div class="mainContainer">
	<div class="containerSignup flex-center flex-column">
		<div class="descriptionLogin">
			<p>Bienvenue sur la mangathèque, gérez facilement votre collection de manga! <br>
			Ajoutez, éditez ou supprimez en quelques click.</p>	
		</div>
		<div class="formLogin">
					
		</div>
	</div>
	<p class="registerLogin"><a href="/login">Se connecter</a></p>
</div> -->


<div class="main-signupContainer" ng-controller="signupController">
	<div class="signup-title">
		<p class="title-margin">Bienvenue sur la mangathèque, gérez facilement votre collection de manga! <br>
			Ajoutez, éditez ou supprimez en quelques click.</p>	
		</div>
		<div class="signup-container">
			<div class="signup-email">
				<label><b>{{toto}}</b></label>
				<input type="text" placeholder="Entrez votre Email" name="email" required>
			</div>
			
			<div class="signup-pwd">
				<label><b>Mot de Passe</b></label>
				<input type="password" placeholder="Entrez votre mot de passe" name="psw" required>
			</div>

			<div class="rpt-pwd">
				<label><b>Confirmation mot de passe</b></label>
				<input type="password" placeholder="Entrez votre mot de passe à nouveau" name="psw-repeat" required>
			</div>

			<div class="clearfix">
      	<button type="submit" class="signupbtn">S'inscrire</button>
    	</div>
			
		</div>
		<p class="registerLogin"><a href="/login">Déjà un compte ? Connectez-vous !</a></p>
	</div>