<div class="mainContainerHome flex-center flex-column">
	<div class="containerCollection">
		<div class="containerHeader flex-around">
			<div>Série</div>
			<div>...</div>
			<div>
				<i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>

			</div>
			<div>
				<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>

			</div>
			<div>search</div>
		</div>
		<div class="test">
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Naruto</p>
						<div class="number flex-around">
							<p class="green">34</p>
							<p class="red">71</p>
						</div>
						<p>auteur : Itomo Mawasashite</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>

					</div>
				</div>
			</div>

			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>

			
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="containerMangas">
				<div class="couverture">couv</div>
				<div class="bloc">
					<div class="addRemove flex-column-around">
						<p>+</p>
						<p>-</p>
					</div>
					<div class="blocInfo flex-column-center">
						<p>Dragon ball Z</p>
						<div class="number flex-around">
							<p class="green">60</p>
							<p class="red">81</p>
						</div>
						<p>Auteur : Masashi Kenshimoto</p>
					</div>
					<div class="poubelle flex-center">
						<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

