/*HOME PAGE*/

.mainContainerHome{
	width: 100%;
	height: 80vh;
	position: relative;
	top: 1.5rem;
}

.number p ~ p{
	padding-left: 0.5rem;
}
.number p:first-child{
	padding-right: 0.5rem;
	border-right: 0.1rem solid black;
}
.registerLogin{
	text-align: center;
	margin-top: 1rem;
}
.containerHeader{
	width: 95%;
	min-width: 300px;
	position: fixed;
	background-color: white;
    border-bottom: 0.1rem solid darkgrey;
}
.containerHeader a{
	color: inherit;
}
.containerCollection{
	width: 95%;
	min-width: 300px;
	max-height: 85vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.containerFooter{
	width: 95%;
	margin: 0 1rem;
	padding: 0.5rem 0;
	background-color: white;
    border-bottom: 0.1rem solid darkgrey;
}
.containerFooter a{
	color:inherit;
}

.choice{
	width: 4rem;
}
.click{
	transition: all 2.6s;
	transform: rotate(180deg);
}

.topContainer{
	padding-top: 2.2rem;
}
.containerMangas{
	display: flex;
	justify-content:space-between;
	padding: 0.1rem;
    border-bottom: 0.1rem solid darkgrey;
    color: gainsboro;
	min-height: 7.5rem;
}
.couverture{
	width: 6rem;
	height: 9rem;
	margin-right: 1rem;
	background-color: green;
}
/*Voir media query*/

.addRemove{
	width: 2rem;
}
.bloc{
	display: flex;
	flex: 1 0 auto;
	margin-right: 2rem;
	/*justify-content: space-between;*/
	/*border: 1px solid yellow;*/
}
.blocInfo{
	display: flex;
	justify-content: space-around;
	width: 20rem;
	/*border: 2px solid green;*/
}

@media screen and (max-width: 460px) {
	.containerHeader{
		font-size: 0.8rem;
	}
	.couverture {
	width: 5rem;
	}
	.bloc{
		margin-right: 0.5rem;
	}
	.blocInfo{
		width: 8rem;
	}
	/*.searchBarForm, input{
		width: 6rem;
	}*/
	.topContainer {
    padding-top: 1.7rem;
	}

}