/*HOME PAGE*/

.mainContainerHome{
	width: 100%;
	height: 90vh;
	position: relative;
	top: 1.5rem;
}

.number p ~ p{
	padding-left: 5px;
}
.number p:first-child{
	padding-right: 5px;
	border-right: 1px solid black;
}
.registerLogin{
	text-align: center;
	margin-top: 10px;
}
.containerFooter{
	width: 95%;
	margin: 0 10px;
	padding: 5px 0;
	background-color: white;
	border-top: 1px solid darksalmon;
    border-bottom: 1px solid darkgrey;
}




.containerCollection{
	width: 95%;
	max-height: 85vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.containerHeader{
	width: 95%;
	position: fixed;
	background-color: white;
    border-bottom: 0.1rem solid darkgrey;
}
.choice{
width: 8rem;
}
.topContainer{
	padding-top: 2.8rem;
}
.containerMangas{
	display: flex;
	justify-content:space-between;
	padding: 0.1rem;
    border-bottom: 0.1rem solid darkgrey;
    color: gainsboro;
	min-height: 7.5rem;
}
.couverture{
	width: 6rem;
	background-color: green;
}
.addRemove{
	width: 2rem;
}
.bloc{
	display: flex;
	flex: 1 0 auto;
	margin: 0 2rem;
	/*justify-content: space-between;*/
	/*border: 1px solid yellow;*/
}
.blocInfo{
	display: flex;
	justify-content: space-around;

	/*border: 2px solid green;*/
}