.main-signupContainer {
	width: 50%;
	height: 50%;
	min-height: 400px;
	min-width: 300px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-title {
	width: 100%;
	height: 30%;
	text-align: center;
}

.title-margin {
	margin-top: 20px;
}

.signup-container {
	width: 90%;
	height: 60%;
	background-color: red;
	margin-bottom : 50px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}