/*****************/
/*CH'AI PAS COMMENT APPELER CETTE SECTION*/
h1{
	text-align: center;
	color: white;
}

a{
	color:white;
}

p{
	margin: 0;
}
/*****************/

/*****************/
/*PAGE PRINCIPALE*/

.page{
	width: 100%;
	height: 100vh;
	margin: 0;
    background:black fixed no-repeat center center url(../images/manga01.jpg);
	background-size: cover;
}

.page h1{
	position: relative;
	text-shadow: 2px 2px 2px black;
	top: 1rem;
}

	/*RESPONSIVE*/
@media (max-width: 667px) {
	.page {
	background-size: cover;
	}
}
.container{
	width: 100%;
	height: 100vh;
	position: absolute;
	bottom: 0;
}
/*******************/


/******************/
/*POSITIONNEMENT*/
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}

.flex-end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.flex-column{
	flex-direction: column;
}
.flex-column-center{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-column-around{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.pointer{
	cursor: pointer;
}

/******************/
/*COULEUR*/
.red{
	color:red;
}
.green{
	color: green;
}
.blue{
	color: blue;
}
/*******************/

/******************/
/*REUTILLISABLE*/

/******************/
/*LOGIN*/
.mainContainer{
	width: 100%;
	height: 85vh;
	position: relative;
	top: 1rem;
}
.mainContainerLogin{
	width: 100%;
}
.containerLogin{
	width: 50%;
	margin: auto;
}
@media screen and (max-width: 667px) {
	.containerLogin {
	width: 30rem;
	}
}
.containerLogin p{
	text-align: center;
	padding: 0 1rem;
}

.containerLogin button{
	margin-bottom: 1rem;
	background-color:rgba(0,0,0,0.3);
	opacity: 0.8;
	color: white;
}

.descriptionLogin p{
	text-align: center;
}

.formLogin{
	justify-content: center;
	margin: 1rem 0;
}

.containerImg{
	width: 90%;
	height: 10rem;
	border: 0.2rem solid #00ff68;
}



/***********************/
/*HOME*/

/******************/
/*BOUTON*/
.btn-medium {
	width: 80%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: rgba(217,217,217,0.3);
    color: #C8C8C8;
    border: 0.1rem solid #C8C8C8;
    border-radius: 1rem;
    padding: 0.7rem;
}

.btn-treehouse {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: rgba(217,217,217,0.3);
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1.8rem;
}
.btn-color {
    background-color: #007A87;
}

.btn-lg {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 1rem;
    width: 25rem;
    color: white;
}

.btn {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
/******************/

.icon{
	margin-right: 5px;
}

/*position: absolute;  postulat de départ 
  top: 50%; left: 50%;  à 50%/50% du parent référent 
  transform: translate(-50%, -50%); décalage de 50% de sa propre taille */
